

.formWrapper h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.formContainer{
    display: flex;
    justify-content: center;
}

.formBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.formBox label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.formBox input{
    text-align: center;
    border: purple 1px solid;
}

.formBox div{
    display: inline-block;
    padding: 10px;
    max-width: 90%;
}

.button{
    text-align: center;
    padding:20px 10px 10px 10px;
}

.button input{
    height: 38px;
    background: purple;
    border: 0;
    color: white;
    padding: 0px 20px 0px 20px;
    font-weight: bold;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button input:hover{
    background-color: black;
    border: white 2px solid;
}

.formBox input:hover{
    border: purple 3px solid;
}

.errorText{
    display: block;
    max-width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 12px;
}

.approvedText{
    display: block;
    max-width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 12px;
}

.removedText{
    display: none;
}