.sectionBlock {
    display: flex;
    flex-wrap: wrap;
}
.sectionBlock a {
    color: black;
}
.secTitle {
    border-left: 2px solid #d3d3d3;
    padding: 0px 0px 0px 5px;
}
.mainBlock {
    flex: 50%;
    padding:20px;
}
.sideBlock {
    flex: 50%;
    padding:20px;
}
.block {
    padding: 20px;
    margin:20px;
    border: 2px solid #d3d3d3;
    background-color:#faf9f9;
}
.block img {
    padding: 10px 0px 10px 0px;
    width: 100%;
    max-height: 379.75px;
    max-width: 720px;
}
.mainBlock a:hover {
    border: solid 2px  #480355;
}
.sideBlock img {
    width: 100%;
    max-width: 420px;
    max-height: 300px;
}
figcaption {
    font-size: 13px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .mainBlock {
        flex:65%
    }
    .sideBlock {
        flex:35%;
    }
}
